@font-face {
  font-family: "Cambria";
  src: url(/src/assets/fonts/Cambria.woff), url(/src/assets/fonts/Cambria.woff2);
  src: local("Cambria");
  font-display: swap;
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Cambria";
  src: url(/src/assets/fonts/Cambria-Bold.woff), url(/src/assets/fonts/Cambria-Bold.woff2);
  src: local("Cambria Bold"), local("Cambria-Bold");
  font-display: swap;
  font-weight: bold;
  font-style: normal;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}
*,
html,
body {
  margin: 0;
  padding: 0;
  font-family: Cambria, serif;
  color: #fff;
}
html,
body {
  width: 100%;
  height: 100%;
}
.button-reset {
  background-color: transparent;
  border: none;
  cursor: pointer;
}
.list-reset {
  list-style: none;
}
.button--disabled {
  opacity: 0.5;
  cursor: default;
}
.app {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.wrap {
  position: relative;
  width: 980px;
  height: 630px;
  background-image: url("/src/assets/img/gradient-bg.png");
}
.road,
.road__points {
  position: absolute;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
}
.road {
  top: 0;
  left: 37px;
  bottom: 65px;
  background-image: url("/src/assets/img/road.png");
}
.road__points {
  position: relative;
  width: 100%;
  height: 100%;
}
.road__point {
  position: absolute;
  width: 20px;
  height: 14px;
  border-radius: 50%;
  background-image: url("/src/assets/img/point-grey.png");
  transition: box-shadow 0.2s ease-in-out;
}
.road__point#point-1 {
  left: 305px;
  bottom: 83px;
}
.road__point#point-2 {
  left: 230px;
  bottom: 40px;
}
.road__point#point-3 {
  left: 143px;
  bottom: 22px;
}
.road__point#point-4 {
  left: 65px;
  bottom: 50px;
}
.road__point#checkpoint-1 {
  left: 75px;
  bottom: 113px;
}
.road__point--active {
  box-shadow: 0px 0px 20px 1px rgba(255, 255, 255, 0.569);
}
.road__point--black {
  background-image: url("/src/assets/img/point-black.png");
}
.road__checkpoint {
  width: 25px;
  height: 17px;
  background-image: url("/src/assets/img/point-red.png");
}
.road__point--intermediate {
  position: absolute;
  width: 10px;
  height: 10px;
}
.road__point--intermediate#intermediate-point-1 {
  left: 353px;
  bottom: 96px;
}
.road__point--intermediate#intermediate-point-2 {
  left: 266px;
  bottom: 60px;
}
.road__point--intermediate#intermediate-point-3 {
  left: 206px;
  bottom: 29px;
}
.road__point--intermediate#intermediate-point-4 {
  left: 111px;
  bottom: 29px;
}
.road__point--intermediate#intermediate-point-5 {
  left: 42px;
  bottom: 80px;
}
.start {
  position: absolute;
  left: 391px;
  bottom: 73px;
}
.start__label {
  position: absolute;
  top: 10px;
  left: 0;
  width: 68px;
  height: 40px;
}
.start__button,
.finish__button {
  position: absolute;
  width: 36px;
  height: 26px;
  z-index: 2;
}
.start__button {
  background-image: url("/src//assets/img/point-start.png");
}
.finish {
  position: absolute;
  right: 31px;
  top: 158px;
  width: 121px;
  height: 58px;
}
.finish__button {
  background-image: url("/src//assets/img/point-finish.png");
}
.finish__label {
  position: absolute;
  bottom: 10px;
  left: -2px;
  width: 105px;
  height: 58px;
}
.student {
  position: absolute;
  width: 21px;
  height: 69px;
  left: 398px;
  top: 438px;
  z-index: 10;
  transition:
    left 1s linear,
    top 1s cubic-bezier(0.11, 0.86, 0.34, 0.65);
}

.navigation,
.navigation-buttons__wrap {
  display: flex;
  align-items: stretch;
}
.navigation {
  position: relative;
  left: 5px;
  bottom: 60px;
  gap: 2px;
  width: 980px;
  height: 80px;
  z-index: 3;
}
.navigation-buttons__wrap {
  justify-content: space-between;
  gap: 6px;
}
.navigation__button {
  width: 67px;
  height: 62px;
  border-radius: 12px;
}
.navigation__button,
.popup__close-button {
  transition:
    filter 0.3s ease-in-out,
    transform 0.2s ease-in;
}
.navigation__button:hover,
.popup__close-button:hover {
  filter: brightness(1.2);
}
.navigation__button:active,
.popup__close-button:active {
  transform: scale(0.9);
}
.navigation__button--main {
  width: 202px;
  height: 63px;
  text-align: center;
  text-transform: uppercase;
  font-size: 33.3px;
  background-image: url("/src/assets/img/university-btn.png");
}
/* slider start */
.slider {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
  width: 536px;
  height: 63px;
  background-image: url("/src/assets/img/slider-bg.png");
}
.slider__container {
  position: relative;
  overflow: hidden;
  width: calc(100% - 56px);
  height: 63px;
}
.slider__button {
  position: absolute;
  width: 16px;
  height: 29px;
  background-position: center;
  background-repeat: no-repeat;
  transition:
    opacity 0.3s ease-in-out,
    filter 0.1s ease-in-out;
}
.slider__button:hover {
  filter: drop-shadow(0 0 0.75rem #fff);
}
.prev-button {
  left: 8px;
  background-image: url("/src/assets/img/arrow-left.png");
}
.next-button {
  right: 10px;
  background-image: url("/src/assets/img/arrow-rigth.png");
}
.slider__items {
  position: absolute;
  display: flex;
  align-items: center;
  gap: 10px;
  width: 100%;
  height: inherit;
}
.slider__item {
  flex-shrink: 0;
  flex-grow: 0;
  width: 50px;
  height: 51px;
  background-size: cover;
  background-repeat: no-repeat;
}
.slider__item--empty {
  background-image: url("/src//assets/img/slider-item-empty.png");
}
.slider__item--filled {
  background-image: url("/src//assets/img/slider-item.png");
}
.slider__item--add {
  position: relative;
}
.slider__item--add::after {
  content: "";
  position: absolute;
  top: -10px;
  right: -11px;
  width: 39px;
  height: 29px;
  background-image: url("/src/assets/img/plus-icon.png");
}
/* slider end */
/* rating popup start */
.overlay {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.52);
  z-index: 10;
}
.overlay--visible {
  display: flex;
  justify-content: center;
  align-items: center;
}
.popup {
  position: relative;
  width: 523px;
  height: 455px;
  padding: 94px 30px 37px;
  background-image: url("/src/assets/img/popup-bg.png");
  border-radius: 20px;
}
.popup__header {
  position: absolute;
  width: 264px;
  height: 33px;
  top: -11px;
  left: 26%;
  background-image: url("/src/assets/img/popup-header-bg.png");
}
.popup__title {
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.356);
}
.popup__close-button {
  position: absolute;
  top: 14px;
  right: 16px;
  width: 26px;
  height: 26px;
  border-radius: 6px;
  background-image: url("/src/assets/img/popup-close-btn.png");
}
.popup__inner-wrap {
  width: 464px;
  height: 324px;
  padding: 32px;
  background-image: url("/src/assets/img/popup-table-bg.png");
  overflow-y: auto;
  scrollbar-color: #00afc6 #e4e4e4;
  scrollbar-width: thin;
}
.popup__inner-wrap::-webkit-scrollbar {
  width: 20px;
}

.popup-content {
  width: 100%;
  display: grid;
  grid-auto-rows: 30px;
  row-gap: 6px;
}
.popup-content__header,
.popup-content__row {
  width: 100%;
  height: 100%;
  display: grid;
  justify-content: start;
  align-content: center;
  align-items: center;
  padding: 8px 16px;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 10px;
}
.popup-content__header {
  grid-template-columns: 0.7fr 2fr 0.5fr;
  background-image: url("/src/assets/img/popup-table-header-bg.png");
}
.popup-header__text {
  font-size: 12px;
  text-transform: capitalize;
  text-shadow: 1px 1px 2px rgba(25, 7, 109, 0.356);
}
.popup-content__row {
  grid-template-columns: 0.4fr 34px 2fr 0.5fr;
  background-image: url("/src/assets/img/popup-table-row-bg.png");
}
.popup-row__text {
  font-size: 14px;
  text-transform: capitalize;
  text-shadow: 1px 1px 2px rgba(25, 7, 109, 0.356);
}
.popup-row__img {
  width: 30px;
  height: 29px;
}
.popup-row__text--highlighted {
  font-weight: bold;
  text-shadow: #1400ff 2px 2px 10px;
}
/* rating popup end */
